spring:
  config:
    activate:
      on-profile: "docker"
  application:
    name: enrollment-service
  datasource:
    url: jdbc:mysql://enrollment-db:3306/enrollment_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&characterEncoding=UTF-8
    username: enrollment_user
    password: enrollment_pass
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

catalog-service:
  url: http://catalog-service:8081

server:
  port: 8082